/* Tablet */
@media (max-width: 950px) {
  main {
    flex-direction: column;
  }

  .bg-container {
    /* flex-basis: 30%; */
    width: auto;
    height: 35%;
    background-image: url(/images/bg-main-mobile.png);
  }

  .main-bg--container {
    /* flex: 1 2 55%; */
    justify-content: center;
    align-items: center;
    width: auto;
    height: 75%;
  }
  .card {
    width: 43rem;
    height: 23rem;
  }

  .card-front {
    top: 4%;
    left: 10%;
  }

  .card-back {
    top: 2%;
    left: 37%;
  }
}

/* Tablet */
@media (max-width: 800px) {
  .card {
    width: 34rem;
    height: 18rem;
  }

  .card-front__number {
    font-size: 1.4rem;
    width: 100%;
  }

  .card-back__cvc {
    top: 6.1rem;
    left: 5.1rem;
    font-size: 1.4rem;
  }
}

/* Phone */
@media (max-width: 650px) {
  .bg-container {
    height: 45%;
  }

  .main-bg--container {
    height: 65%;
  }

  .card-front {
    top: 4%;
    left: 10%;
  }

  .card-back {
    top: 1%;
    left: 37%;
  }

  .card-front__number {
    font-size: 1.2rem;
    width: 100%;
  }

  .card-front__info {
    font-size: 1.1rem;
  }

  .card-back__cvc {
    top: 5.5rem;
    left: 5.7rem;
    font-size: 1.2rem;
  }

  form {
    padding-top: 10rem;
    margin-bottom: 5rem;
  }

  .thanks-container {
    font-size: 1.4rem;
  }
}

/* Small Phone */
@media (max-width: 450px) {
  /* Card height and width */
  .card {
    letter-spacing: 0.1;
    width: 26rem;
    height: 15rem;
    padding: 1.5rem;
  }
  /* Fonts */
  .card-front__number {
    font-size: 1rem;
  }

  .card-front__info {
    font-size: 0.7rem;
  }
  /* Card front position */
  .card-front {
    top: 13%;
    left: 10%;
  }

  /* Card back and postion */
  .card-back {
    top: 7%;
    left: 23%;
  }

  .card-back__cvc {
    top: 4.9rem;
    left: 4.8rem;
    font-size: 1rem;
  }

  /* Form */
  form {
    padding-top: 0;
  }

  .form-title {
    font-size: 0.9rem;
  }

  .cardcvc {
    width: 100%;
  }

  /* Thank you page */
  .thanks-container {
    font-size: 1.4rem;
  }
}
