:root {
  --color-white: hsl(0, 0%, 100%);
  --color-grey-light: hsl(270, 3%, 87%);
  --color-grey-dark: hsl(279, 6%, 55%);
  --color-violet: hsl(278, 68%, 11%);
  --color-red: hsl(0, 100%, 66%);

  --color-primary: hsl(249, 99%, 64%);
  --color-secondary: hsl(278, 94%, 30%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

img {
  position: inherit;
  width: inherit;
}

input {
  padding: 1rem;
  color: var(--color-violet);
  border: solid;
  border-color: var(--color-grey-light);
  border-radius: 3px;
  width: 75%;
}

input:focus {
  outline-color: var(--color-secondary);
}

input::placeholder {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--color-grey-light);
  font-weight: bold;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Layout */
.col-1-side {
  height: 100%;
  background-image: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 45%;
}

.col-2-main {
  height: 100%;
  flex: 1 2 55%;
}

/* Cards 44rem max*/

.card {
  width: clamp(36rem, 45rem, 52rem);
  height: max(20rem, 25rem);
  color: var(--color-white);
  padding: 1.2rem;
  /* box-shadow: -5rem 3rem 3rem rgba(0, 0, 0, 0.2); */
  border-radius: 2rem;
  letter-spacing: 0.3rem;
}

.card__front {
  background-image: url('./images/bg-card-front.png');
  background-size: cover;
  top: 11%;
  left: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
}

.card__back {
  background-image: url('./images/bg-card-back.png');
  background-size: cover;
  position: absolute;
  top: 49%;
  left: 11%;
}

.card__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__number {
  font-weight: bold;
  font-size: clamp(1.6rem, 1.8rem, 2rem);
}

.card__holder {
  text-transform: uppercase;
  top: 20rem;
  left: 4rem;
  font-size: 1rem;
}

.card__expire {
  top: 20rem;
  left: 35rem;
  display: flex;
}

.MM {
  top: 20rem;
  left: 31rem;
}

.divide {
  top: 20rem;
  left: 33rem;
}

.YY {
  top: 20rem;
  left: 34rem;
}
.card__cvc {
  position: relative;
  top: 10.3rem;
  left: 36rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

/* Form Section */
form {
  display: grid;
  grid-template-columns: repeat(2, 5rem) 10rem;
  grid-template-rows: repeat(3, 2rem) 5rem;

  grid-template-areas:
    'hold hold hold'
    'num num num'
    'exp exp cvc'
    'btn btn btn';

  grid-row-gap: 8rem;
  grid-column-gap: 9rem;
  place-content: center;
  margin-top: 30%;
}

.cardholder {
  grid-area: hold;
}

.cardnumber {
  grid-area: num;
}

.cardexp {
  grid-area: exp;
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex {
  display: flex;
}

.cardexp--ii {
  margin-left: 1rem;
}

.cardcvc {
  grid-area: cvc;
}

.btn {
  background-color: var(--color-violet);
  color: var(--color-white);
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-family: 'Space Grotesk', sans-serif;
  width: 40%;
}

.btn-sub {
  grid-area: btn;
  width: 100%;
}

.form__title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-violet);
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.form__input {
  display: block;
}

.error {
  border-color: var(--color-red);
}

.error--txt {
  margin: 5px;
  color: var(--color-red);
}

/* Conformation page */
.form--submit {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.svg__icon {
  height: 8rem;
  width: 8rem;
}

.form--submit-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-violet);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form--submit-sub {
  font-size: 1.8rem;
  color: var(--color-grey-dark);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1020px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .col-1-side {
    background-image: url(./images/bg-main-mobile.png);
  }

  .card {
    font-size: 1.2rem;
  }

  .card__front {
    top: 7%;
    left: 10%;
  }

  .card__back {
    top: 3%;
    left: 37%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    letter-spacing: 0.3rem;
  }

  .card__front {
    top: 7%;
    left: 4%;
  }

  .card__back {
    top: 3%;
    left: 21%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 36rem;
    height: 20rem;
  }
  .card__front {
    top: 17%;
    left: 2%;
  }
  .card__number {
    font-size: 1.6rem;
  }

  .card__back {
    top: 1%;
    left: 7%;
  }

  .card__cvc {
    top: 8.3rem;
    left: 28rem;
  }
}
