:root {
  --color-white: hsl(0, 0%, 100%);
  --color-grey-light: hsl(270, 3%, 87%);
  --color-grey-dark: hsl(279, 6%, 55%);
  --color-violet: hsl(278, 68%, 11%);
  --color-red: hsl(0, 100%, 66%);

  --color-primary: hsl(249, 99%, 64%);
  --color-secondary: hsl(278, 94%, 30%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all ease-in-out 250ms;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}
main {
  width: 100vw;
  height: 100vh;
}

img {
  position: inherit;
  max-width: 100%;
}

input {
  padding: 1rem;
  color: var(--color-violet);
  border: solid;
  border-color: var(--color-grey-light);
  border-radius: 3px;
  width: 75%;
}

input:focus {
  outline-color: var(--color-secondary);
}

input::placeholder {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--color-grey-light);
  font-weight: bold;
}

/* Utlities */
.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.gap-1x {
  gap: 1rem;
}

.gap-2x {
  gap: 2rem;
}

.gap-3x {
  gap: 3rem;
}

.gap-4x {
  gap: 4rem;
}

.gap-5x {
  gap: 5rem;
}
/* 
  gap: 2rem;

   */
/* Layout */
.bg-container {
  background-image: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
}

.main-bg--container {
  justify-content: center;
  align-items: center;
  width: 55%;
}

.card {
  width: clamp(36rem, 45rem, 52rem);
  height: max(20rem, 25rem);
  color: var(--color-white);
  padding: 2.5rem;
  box-shadow: -5rem 3rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  letter-spacing: 0.3rem;
}

.card-front {
  background-image: url('./images/bg-card-front.png');
  background-size: cover;
  top: 11%;
  left: 3%;
  z-index: 1;

  justify-content: space-evenly;
  align-items: start;
  position: absolute;
}

.card-back {
  background-image: url('./images/bg-card-back.png');
  background-size: cover;
  position: absolute;
  top: 49%;
  left: 5%;
}

.card-front__info {
  justify-content: space-evenly;
  width: 100%;
  font-size: clamp(1.1rem, 1.2rem, 1.3rem);
}

.card-front__number {
  font-weight: bold;
  width: 100%;
  font-size: clamp(1.6rem, 1.8rem, 2rem);
  text-align: center;
}

.card-front__name {
  text-transform: uppercase;
}

.card-back__cvc {
  position: relative;
  top: 8.7rem;
  left: 6rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: end;
  width: 80%;
}

/* Form Section */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 0.9fr);
  width: 90%;
}

.form-name__container {
  grid-row: 1 / 1;
  grid-column: 1 /3;
  justify-self: center;
  width: 80%;
}

.cardnumber {
  grid-row: 2;
  grid-column: 1 /3;
  justify-self: center;
  width: 80%;
}

.cardexp {
  grid-row: 3;
  justify-self: center;
  width: 59%;
}

.cardcvc {
  grid-column: 2 /3;
  justify-self: center;
  width: 55%;
}

.btn {
  background-color: var(--color-violet);
  color: var(--color-white);
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-family: 'Space Grotesk', sans-serif;
}

.btn-sub {
  justify-self: center;
  width: 50%;
  grid-column: span 2;
}

.form-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-violet);
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.form-input {
  display: block;
}

/* Error state */
.error {
  border-color: var(--color-red);
}

.error--txt {
  margin: 5px;
  color: var(--color-red);
}

/* Conformation page */
.thanks-page {
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.thanks-page__text {
  font-weight: bold;
  color: var(--color-violet);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.thanks-page__subtext {
  color: var(--color-grey-dark);
}

.thanks-container {
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.thanks-btn {
  width: 70%;
}

.hidden {
  display: none;
}
